<ion-view title="Flarsheim Hall(460)" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 116px;"></div>
        <div>




            <center>
                <table>
                    <tbody>
                        <tr>
                            <td>Equipment type</td>
                            <td>: HYBRID</td>
                        </tr>
                        <tr>
                            <td>Capacity</td>
                            <td>: 30</td>
                        </tr>
                        <tr>
                            <td>Amenties</td>
                            <td>:Video projector, Remote Control, Computer, Laptop Connection, DVD/VCR, Document Camera, Projection Screen, Wireless Mouse, Auxilary Audio Input, Desk Microphone, Lapel Microphone</td>
                        </tr>
                    </tbody>
                </table>
            </center>

        </div>
        <a ui-sref="menu.fHScheduleYourAppointment" id="flarsheimHall460-button4" class="button button-positive  button-block">Select the timings</a>
    </ion-content>
</ion-view>