<ion-view title="Booking History" id="page51" class="pane">
  <ion-content padding="true" overflow-scroll="true" class="has-header">

    <style type="text/css">
      .pane{
        background: url(../img/bb.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
      }
      .button2
      {	background-color: purple;
        border-radius: 8px;
        border: none;
        color: white;
        padding: 15px 100px;
        text-align: center;
        text-decoration: none;
        font-size :32px;
        margin: 5px;
        cursor: pointer;
        display: inline-block;
        transition: all 0.5s;
      }
      .button2:hover
      {	background-color: cornflowerblue;
        color: purple;
        border-radius: 40%;
      }

    </style>

    <button type="submit"  class="button2"  ng-click="logout()">logout</button>
    <h1 style="color: violet"align="center">Rooms booked</h1>
    <div data-ng-controller="adminCtrl" data-ng-init="getBooking1()">
      <div align="center">
        <h2 style="color:antiquewhite" ng-bind-html="myHTML"></h2>
      </div>
    </div>
  </ion-content>
</ion-view>

